{
    "presets": [
      [
        "@babel/env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }

//   The .babelrcfile is your local configuration for your code in your project. 
//   Generally you would put it in the root of your application repo. 
//   It will affect all files that Babel processes that are in the same directory or in sibling directories of the.babelrc.
